html,
body {
    height: 100%;
    width: 100%;
}

#main_canvas {
    background: #ffffff;
    display: block;
}

* {
    margin: 0;
    padding: 0;
}

#file, #choose {
    position: absolute;
}

#pos {
    position: absolute;
    display: none;
    top: 1px;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 20px;
}
#range {
    position: absolute;
    display: none;
    bottom: 5px;
}
#input_map {
    width: 90px;
}
#input_fps,
#input_time{
    width: 50px;
}

#input_canvas {
    width: 110px;
}
input[type="text"] {
    background: rgba(236, 224, 200, 0.5) none repeat scroll 0% 0%;
}
/*thanks http://blog.csdn.net/u013347241/article/details/51560290 */
input[type="range"] {
    margin-top: 2px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 500px;
    -webkit-appearance: none;
    height: 10px;
}

input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    height: 15px;
    border-radius: 10px; /*将轨道设为圆角的*/
    box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112; /*轨道内置阴影效果*/
}
input[type=range]::-moz-range-track {
    height: 15px;
    border-radius: 10px; /*将轨道设为圆角的*/
    box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112; /*轨道内置阴影效果*/
}
input[type=range]::-ms-track {
    height: 25px;
    border-radius: 10px;
    box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112;
    border-color: transparent; /*去除原有边框*/
    color: transparent; /*去除轨道内的竖线*/
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    margin-top: -5px; /*使滑块超出轨道部分的偏移量相等*/
    background: #ffffff;
    border-radius: 50%; /*外观设置为圆形*/
    border: solid 0.125em rgba(205, 224, 230, 0.5); /*设置边框*/
    box-shadow: 0 .125em .125em #3b4547; /*添加底部阴影*/
}
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    margin-top: -5px; /*使滑块超出轨道部分的偏移量相等*/
    background: #ffffff;
    border-radius: 50%; /*外观设置为圆形*/
    border: solid 0.125em rgba(205, 224, 230, 0.5); /*设置边框*/
    box-shadow: 0 .125em .125em #3b4547; /*添加底部阴影*/
}
input[type=range]::-ms-thumb {
    border: solid 0.125em rgba(205, 224, 230, 0.5);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #ffffff;
    margin-top: -5px;
    box-shadow: 0 .125em .125em #3b4547;
}